@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Reset of margins and paddings*/
body,h1,h2,h3,h4,h5,p{
	margin-block-start: 0;
	margin-block-end: 0;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(142, 201, 224);
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1{
    padding-top: 20px;
    padding-bottom: 20px;
}

header nav{
    background-color: rgb(103, 168, 196);
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

/*Button*/
.btn{
    background-color: rgb(142, 201, 224);
    border-radius: 5px;
    color: black;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn:hover{
    background-color: rgb(102, 154, 172);
    border-radius: 5px;
    color: black;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/*Section*/
.sctn{
    background-color: rgb(142, 201, 224);
    border: 1px solid rgb(102, 154, 172);
    border-radius: 5px;
    height: 10rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 25%;
}

/*Form*/
.frm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.frm input{
	margin-bottom: 20px;
}
.frm textarea{
	margin-bottom: 20px;
}

/*Status*/
.status{
	margin:0;
}

footer{
    margin-top: 200px;
    margin-bottom: 10px;
}
footer p{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}